
@{
    ViewBag.Title = "NoClientsFound";
}
<div class="row">

    <div class="col-lg-offset-3 col-lg-6">
        <h2>No clients found</h2>


        There is no clients with such data. You should @Html.ActionLink("create a new client", "Create"). Or you can @Html.ActionLink("back to the clients list", "Index").
        </div>
    </div>
