@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-lg-offset-3 col-lg-6">

        <p/>
        <p>This is the service station administration application. </p>
        <p>You can search for existing clients using the search boxes on the "Clients" page. Or you can create a brand wen client. </p>
        <p>For each client is avalable to edit and delete it, if there is no cars attached to it. Also you can see and edit the list of cars for each client. </p>
        <p>For each client is avalable to edit and delete it, if there is no orders attached to it. You also can create, edit and delete orders.</p>


        <p>Note: you can see the date fields while creating client or order. In this application US date format is used: MM/DD/YYY. </p>
    </div>
    </div>
