@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Welcome to our Service station application. Feel free to use it!</h2>

        <div class="col-md-6 col-md-offset-3">
            @Html.ActionLink("Go to the clients list", "Index", "Clients", null, new { @class = "text-center btn-primary btn-block btn-lg" })
        </div>
        <div align="center">
            <img align="middle" src="~/Content/images/logo.jpg" />
        </div>


    </div>

</div>